body {
  margin: 0;
  padding: 0;
  background-color: #323232;

  /* to truly make it full screen*/
}

.header {
  padding:0px;
  width: 100%;
  height:60px;
  background-color:white;
  text-align: center;
}

.logo {
  display:inline-block;
}

.nav {
  display: inline-block;
  font-family: 'Arimo', sans-serif;
  font-size: 12px;
  font-weight: 400;
  height:45px;
  max-width:600px;
  width: 100%;
  letter-spacing: 1px;
  vertical-align: top;
}

.home {

border-left: 1px solid;
     -webkit-border-image:
      -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
  height: 12px;
}

.nav div {
  display: inline-block;
  padding: 25px 40px;
  border-right: 1px solid;
     -webkit-border-image:
      -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
  height: 12px;

 }

.menu {
  display: block;
  height: 100px;
  width: auto;
  max-width: 615px;
  background-image: url(images/menu.png);
  background-repeat: no-repeat;
  margin: auto!important;
}

.outer-badge {
  display: block;
  margin: auto;
  max-width: 800px;
  width: auto;
}

.inner-badge {
  display: inline-block;
  padding: 0 24px;
  margin: auto;
  max-width: 600px;
  height: 150px;
  vertical-align: top;
}

.vr-container {
  height: 50px;
  width: 1084px;
  display: block;
  margin: auto;
}

.vr-bar {
  position: relative;
  height: 50px;
  width: 10px;
}

.hr-top {
  width: 1084px;
  height: 10px;
  margin: auto;
  margin-bottom: 15px;
}

.banner {
  height: auto;
  width: 1084px;
  display: block;
  margin: auto;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.hr-bottom {
  width: 1084px;
  height: 10px;
  margin: auto;
  margin-top: 15px;
}

.info-bottom {
  width: 1084px;
  height: 100px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 15px;
}

.jersey {
  position: relative;
    top: -470px;
    left: 860px;
    z-index: 5000;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  .header {
    height: 145px;
  }

  .forward-hover, .mid-hover, .defense-hover, .goalie-hover {
    display: none;
  }

  .nav div {
    height:25px;
    padding: 10px 15px 0px;
  }

  .nav {
    display: block;
    width: 100%;
    max-width: 1083px;
    margin: 0 auto;
    height:25px;
    border-top: 1px solid black;
    padding: 0 0;
  }
}
