body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  /* to truly make it full screen*/
}

a {
  text-decoration: none;
}

.header {
  padding:0px;
  width: 100%;
  height:45px;
  background-color:white;
  text-align: center;
}

.logo {
  display:inline-block;
}

.nav {
  display: inline-block;
  font-family: 'Arimo', sans-serif;
  font-size: 12px;
  font-weight: 400;
  height:45px;
  max-width:600px;
  width: 100%;
  letter-spacing: 1px;
  vertical-align: top;
}

.home {
border-left: 1px solid;
     -webkit-border-image:
      -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
  height: 18px;
}

.nav div {
  display: inline-block;
  padding: 15px 40px;
  border-right: 1px solid;
     -webkit-border-image:
      -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
  height: 18px;

 }

.menu {
  display: block;
  height: 100px;
  width: auto;
  max-width: 615px;
  background-image: url(images/menu.png);
  background-repeat: no-repeat;
  margin: auto!important;
}

.outer-badge {
  display: block;
  margin: auto;
  width: auto;
  max-width: 800px;
}

.outer-badge2{
  position: absolute;
  left: 50%;
  margin-left: -400px;
  top: 160px;
  width: auto;
  max-width: 800px;
  z-index: 6000;
}

 #aweber-badge-large {
  display: none;
    position: absolute;
  left: 50%;
  margin-left: -400px;
  top: 145px;
  width: auto;
  max-width: 800px;
  z-index: 6000;
}

#covenant-badge-large {
  display: none;
    position: absolute;
  left: 50%;
  margin-left: -199px;
  top: 145px;
  width: auto;
  max-width: 800px;
  z-index: 6000;
}

#fbc-badge-large {
  display: none;
    position: absolute;
  left: 50%;
  margin-left: 02px;
  top: 145px;
  width: auto;
  max-width: 800px;
  z-index: 6000;
}

#profc-badge-large {
  display: none;
    position: absolute;
  left: 50%;
  margin-left: 203px;
  top: 145px;
  width: auto;
  max-width: 800px;
  z-index: 6000;

}

.inner-badge{
  display: inline-block;
  vertical-align: top;
  margin: 0 24px;
}

.inner-badge {
  height: 149px;
  width: 149px;
}

.inner-badge__sm,
.inner-badge__lg {
  position: absolute; // position absolute with no left,right,top, or bottom defined defaults to top: 0 left: 0
}

.inner-badge__lg {
  Display: none;
  Width: 149px;
}

.inner-badge--show {
  Display:block !important;
}


.vr-container {
  height: 50px;
  width: 1084px;
  display: block;
  margin: auto;
}

.vr-bar {
  position: relative;
  height: 50px;
  width: 10px;
}

.hr-top {
  width: 1084px;
  height: 10px;
  margin: auto;
  margin-bottom: 15px;
}

.banner-container {
  display: block;
  margin: auto;
}
.banner {
  height: auto;
  width: 1084px;
  display: block;
  margin: auto;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.hr-bottom {
  width: 1084px;
  height: 10px;
  margin: auto;
  margin-top: 15px;
}

.info-bottom {
  width: 1084px;
  height: 100px;
  margin: auto;
  margin-top: 15px;
}

.jersey {
  position: relative;
    top: -510px;
    left: 910px;
    z-index: 5000;
    max-width: 200px;
}


.mobile-icon-container {
  display: block;
  height: auto;
  width: 100%;
  text-align: center;
  margin-top:145px;
  padding: 0px;
  font-size: 0px;
  border: 4px solid yellow;
}

.mobile-icon {
  display: inline-block;
  width: 25%;
  font-size: 0px;
}

.mobile-icon img {
  padding: 10px 0;
  width: 70%;
}

.mobile-team {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: auto%;
  padding-bottom: 0px!important;
  margin-bottom: 0px!important;
}

.mobile-team img {
  width: 100%;
  padding-bottom: 0px!important;
  margin-bottom: 0px!important;
}



/* Media Queries */
@media only screen and (max-width: 800px) {
  .header {
    height: 145px;
  }

  .forward-hover, .mid-hover, .defense-hover, .goalie-hover {
    display: none;
  }

  .nav div {
    height:25px;
    padding: 10px 15px 0px;
  }

  .nav {
    display: block;
    width: 100%;
    max-width: 1083px;
    margin: 0 auto;
    height:25px;
    border-top: 1px solid black;
    padding: 0 0;
  }
}
