body {
  margin: 0;
  padding: 0;
  background-color: black;

  /* to truly make it full screen*/
}

.header {
  padding:0px;
  width: 100%;
  height:45px;
  background-color:white;
  text-align: center;
}

.logo {
  display:inline-block;
}

.nav {
  display: inline-block;
  font-family: 'Arimo', sans-serif;
  font-size: 12px;
  font-weight: 400;
  height:45px;
  max-width:600px;
  width: 100%;
  letter-spacing: 1px;
  vertical-align: top;
}

.nav div {
  display: inline-block;
  padding: 15px 40px;
  border-right: 1px solid;
     -webkit-border-image:
      -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
  height: 15px;

 }

.field {
  background-image: url(https://s14.postimg.org/v6lx0wtrl/field.gif);
  background-repeat: no-repeat;
  height:612px;
  background-position: top center;
  max-width:1186px;
  width: 100%;
  margin:auto;
  text-align: center;
}

.bottom-hr {
  display: block;
  border-bottom: 1px solid white;
  width: 100%;
}

.forwards-container {
  padding-top: 60px;
  height: auto;
  max-width: 400px;
  width: auto;
  text-align: center;
  margin:auto;
  color: white;
  display: inline-block;
  position: relative;
  z-index: 500;

}
.midfielders-container {
  height: auto;
  max-width: 400px;
  width: auto;
  text-align: center;
  margin:auto;
  color: white;
  display: inline-block;
  position: relative;
  z-index: 500;
}
.defenders-container {
  height: auto;
  max-width: 400px;
  width: auto;
  text-align: center;
  margin:auto;
  color: white;
  display: inline-block;
  position: relative;
  z-index: 500;
}

.goalie-container {
  height: auto;
  max-width: 400px;
  width: auto;
  text-align: center;
  margin:auto;
  color: white;
  display: inline-block;
  position: relative;
  z-index: 500;
}

.cards {
  display: inline-block;
  margin: 20px 10px;
  height: 80px;
  width: 60px;
  border-radius: 1px;
  background-size: cover;
  border: 2px solid orange;
}

.close_btn {
  position: absolute;
    left: 50%;
  margin-left: 100px;
  margin-top: 3px;
}

.logo-small {
  position: absolute;
    left: 50%;
  height: 50px;
  width: auto;
  margin-left: -135px;
  margin-top: 5px;
}

.player-card {
  height: 380px;
  width: 280px;
  background-color: yellow;
  margin: auto;
  display: none;
  position: absolute;
    left: 50%;
  z-index: 600;
  margin-left: -148px;
  margin-top: 120px;
  border-radius: 1px;
  border: 8px solid white;
  box-shadow: 0px 0px 40px #000000;
  background-size: cover;
}

.player-info {
  height: 14px;
  width: 280px;
  background-color: black;
  border-bottom: 2px solid #c07627;
  margin: auto;
  margin-top: 325px;

}



.forward-hover {
  max-width: 1083px;
  height: 128px;
  background-color: #1cbbb4;
  margin: auto;
  opacity: 0;
  color: white;
  font-size: 130px;
  font-weight: 400;
  font-family: 'Kaushan Script', cursive;
  margin-top: -514px;
  line-height: .9;
  padding: 0;
  overflow: none;
}


.mid-hover {
  max-width: 1083px;
  height: 128px;
  background-color: #1cbbb4;
  margin: auto;
  opacity: 0;
  color: white;
  font-size: 130px;
  font-weight: 600;
  font-family: 'Playfair Display SC', serif;
  line-height: .85;
  padding: 0;
  overflow: none;

}
.defense-hover {
  max-width: 1083px;
  height: 128px;
  background-color: #1cbbb4;
  margin: auto;
  opacity: 0;
  color: white;
  font-size: 110px;
  font-weight: 400;
  font-family: 'Goblin One', cursive;
}
.goalie-hover {
  max-width: 1083px;
  height: 128px;
  background-color: #1cbbb4;
  margin: auto;
  opacity: 0;
  color: white;
  font-size: 136px;
  font-weight: 900;
  font-family: 'Bungee', sans-serif;
  line-height: .95;
  padding: 0;
  overflow: none;
}


.flex {
  color:white;
  align-items: stretch;
  font-size: 200px;
  background-color: red;
  height: 100px;
}

#player-name {
  display: block;
  margin: auto;
  letter-spacing: 3px;
  color: #d8d8d8;
}

/*.player-number {
  display: inline-block;
  border: 1px solid red;
  margin: auto;
  color: #dbd9d9;
  vertical-align: bottom;
  font-size: 28px;
  padding: 0 12px;
  line-height: .85;
  margin-top: -50px;
  font-family: 'Kaushan Script', cursive;
}*/

.player-position {
  color: white;
  font-family: 'Arimo', sans-serif;
  font-size: 12px;
  padding-top: 12px;
  line-height: 0;
  letter-spacing: 4px;
}

.forward-text {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  color: #d8d8d8;
  padding-bottom: 3px;
  margin-top: -40px!important;
}

.midfielder-text {
  font-family: 'Playfair Display SC', cursive;
  font-size: 25px;
  padding-bottom: 6px;
  color: #d8d8d8;
  margin-top: -35px!important;
}

.defense-text {
  font-family: 'Goblin One', cursive;
  font-size: 20px;
  padding-bottom: 8px;
  margin-top: -48px!important;
  color: #d8d8d8;
  line-height: 1.1;
  border: 1px solid red;
}

.goalie-text {
  font-family: 'Bungee', sans-serif;
  font-size: 22px;
  padding-bottom: 0px;
  line-height: 2.1;
  margin-top: -41px!important;
}


/* Media Queries */
@media only screen and (min-width:10px) and (max-width: 400px) {
  .header {
    height: 145px;
  }

  .forward-hover {
    display: none;
  }

  .mid-hover {
    display: none;
  }

  .defense-hover {
    display: none;
  }

  .goalie-hover {
    display: none;
  }

  .nav div {
    height:25px;
    padding: 10px 15px 0px;
    border: 1px solid red;
  }

  .nav {
    height:25px;
    border-top: 1px solid black;
    padding: 0 0;
    border: 1px solid yellow;
  }
}


@media only screen and (min-width:401px) and (max-width: 500px) {
  .header {
    height: 200px;
  }

  .forward-hover .mid-hover .defense-hover .goalie-hover {
    display: none;
  }

  .mid-hover {
    display: none;
  }

  .defense-hover {
    display: none;
  }

  .goalie-hover {
    display: none;
  }

  .nav div {
    height:25px;
    padding: 10px 15px 0px;
  }

  .nav {
    height:25px;
    border-top: 1px solid black;
    padding: 0 0;
  }
}
